<div class="row">
  <div>
    <%= form_for(:branch, url: branches_path) do |f| %>
      <%= f.label :branch_code %>
      <%= f.text_field :branch_code, class: 'form-control' %>
      <%= f.label :address %>
      <%= f.text_area :address, class: 'form-control' %>
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number, class: 'form-control'%>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
