<!DOCTYPE html>
<html>
  <head>
    <title>Myerp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <%= render 'layouts/navigation' %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render 'layouts/flashing' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
